<p>Organisation Persons</p>

<button ng-click="addPerson()">Add Person</button>
<table>
  <thead>
    <tr>
      <th>Forename</th>
      <th>Surname</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat="person in organisation.persons" ng-click="selectPersons(person)">
	<td>{{ person.forename }}</td>
	<td>{{ person.surname }}</td>
	<td>
	  <button ng-click="deletePerson(person)">Delete</button>
	  <button ng-click="editPerson(person)">Edit</button>
	</td>
      </tr>
  </tbody>
</table>




